<div class="container content-page">
  <mat-card class="header-card">
    <mat-card-header>
      <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>I am a computational physicist based in Utrecht, Netherlands, currently pursuing my PhD at Utrecht University.</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Background</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>I was born and raised in Gallipoli, Italy. My love for math has been a constant in my life, as far back as I can remember. 
        With the encouragement of my teachers, parents, and friends, my interest in science blossomed, particularly in theoretical physics, chemistry, 
        and sustainable science.
        <br><br>
        In high school, I dove into various science projects and even won a chemistry olympics for green science with two of my peers. 
        This early success fueled my passion and set me on a path to Bologna, where I pursued theoretical physics. 
        Both my bachelor’s and master’s theses were centered on General Relativity. During my master’s, I had an incredible opportunity to spend three months at the Max Planck Institute for Gravitational Physics, finalizing my thesis project.
        After completing my master’s, I decided to switch fields. I moved to Utrecht to become a PhD candidate under the supervision of Zeila Zanolli. In our group, we explore the electronic and optical properties of materials for the quantum era, using first-principles methods. We push the boundaries of research by developing new theories and code. My current focus is on theoretical spectroscopy and superconductivity.
        <br><br>
        My time at Utrecht University has been transformative, both professionally and personally. I’ve gained immense knowledge, 
        expanded my academic horizons, and built a strong network of colleagues and friends. It’s been an enriching experience that I am truly grateful for.
        <br><br>
        When I’m not immersed in research, I love staying active. Running and working out are my go-to activities. I also enjoy playing video games.                
      </p>
    </mat-card-content>
  </mat-card>
</div>
