/* Global Styles */
* {
    box-sizing: border-box;
}
body {
    background: #FAFAFA ; /* A cooler tonality of black */
    color: black;  /* Keeping the text white for contrast */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header {
    background-image: url('images/puzzle.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;  /* Reduced padding for alignment */
}

.name-title-box {
    background-color: rgba(44, 42, 42, 0.286); /* Updated semi-transparent dark gray background */
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;  /* Ensure text is white */
    font-size: 1.2em; /* Slightly smaller font size than the name */    
}

/* Update navbar to match dark theme */
.navbar {
    background-color: #FAFAFA !important;  /* Matches the dark theme */
    border-color: black !important;  /* Slightly lighter border for visibility */
    margin-top: 10px !important;  /* Increased margin-top for pushing down the navbar */
    margin-bottom: 20px !important;  /* Can be adjusted or set to negative if you need to pull up the navbar */
}

.navbar-nav .nav-link, .navbar-brand {
    color: black !important;  /* Ensures text color is white */
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    background-color: transparent !important;  /* Removes any background change on hover */
}

#profilePic {
    width: 100%;  /* Ensures the image is responsive within its container */
    max-width: 450px;  /* Increases the maximum width to make the image larger */
    height: auto;  /* Keeps the aspect ratio intact */
    border-radius: 50%;  /* Ensures the image remains circular */
    border: 6px solid #333;  /* Aesthetic border */
    box-shadow: 0 0 15px #000;  /* Shadow for depth */
    margin-right: 50px;  /* Space from the text */
    display: block;  /* Ensures the image is correctly displayed */
}

/* Further aesthetic improvements */
@media (max-width: 768px) {
    .name-title-box {
        text-align: center;
        padding: 20px 30px;  /* Increased padding for mobile to balance the larger image */
    }
    #profilePic {
        max-width: 250px;  /* Larger than before but still reasonable for mobile */
        margin: 0 auto 40px;  /* Greater separation from text on small screens */
        display: block;
    }
}

h1 {
    font-size: 2em; /* Adjust size as needed */
    margin: 0; /* Remove margin for tighter spacing */
    color: black; /* White text color */
}

p.font-weight-bold {
    margin: 0; /* Remove margin for tighter spacing */
    color: black; /* White text color */
    font-size: 1.2em; /* Slightly smaller font size than the name */
}

/* Navigation styles */
.navbar {
    margin-bottom: 20px;
}

.navbar-nav .nav-link {
    color: black;
    font-size: 18px;
}

.navbar-nav .nav-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: blue;
    transition: width 0.5s;
}

/* Main content and layout styles */
.container {
    padding: 1px 15px;
}

h1, h2, h3 {
    color:black;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
}

/* Utilizing Bootstrap's grid system for main content */
main {
    margin-top: 20px;
}

/* Contact and Skills sections styling */
.contact-info, .skills {
    background-color: #FAFAFA; /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Image alignment and styling */
.skills-images a {
    display: inline-block;
    margin: 10px 5px;
}

.img-QElogo, .img-yambologo, .img-yambopylogo, .img-siestalogo {
    width: 100%; /* Responsive Images */
    height: auto;
    max-width: 150px; /* Limiting image size */
}

/* Enhancements for printing */
@media print {
    body {
        color: #121212;
        background: #fff;
    }

    header, .navbar, .skills-images, footer {
        display: none;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
    }

    .contact-info, .skills {
        padding: 5px;
    }
}
