.header-background {
  background: url('/images/puzzle.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: top center;
  opacity: 1.0;
  min-height: 100px;
}
