<div class="container content-page">
  <mat-card class="header-card">
    <mat-card-header>
      <mat-card-title>Talks & Presentations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>A comprehensive list of my talks, seminars, and presentations at international conferences.</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Invited Talks</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <h2>List of Talks</h2>
    <ul>
        <li><b>Invited Talks</b></li>
        <li>
            R. Reho,A. R. Botello-Méndez, D. Sangalli, M.J. Verstraete, L. Wirtz, Z. Zanolli ‘Excitonic response in TMD heterostructures from first-principles: impact of stacking, twisting, and interlayer distance
            ’, MRS 2025, Warsaw, PL, <b>MRS Fall Meeting</b>, 15/09/2025-18/09/2025                    
        </li>    

        <li>
            R. Reho, N. Wittemeier, A. Kole, ‘Density Functional Bogoliubov-de Gennes Theory for Superconductors Implemented in the SIESTA Code
            ’, PSI-K 2025, Lausanne, CH, <b>Finalist CECI Award</b>, 25/08/2025-28/08/2025                    
        </li>                                                     
        <li>
            R. Reho, A. R. Botello-Méndez, D. Sangalli, M.J. Verstraete, Z. Zanolli ‘Real-time photoluminescence
            from first-principles: Application to Van der Waals heterostructure’, Informal ETSF workshop, Amsterdam, 
            NL, 17/05/2023                    
            </li>
        <!-- <li>R. Reho, A. R. Botello-Méndez , M. J. Verstraete, Z. Zanolli 'Optical properties of
            TMDs van der Waals heterostructures', MRS Fall Meeting, Warsaw University of Technology, 15/09/2025-18/09/2025   
        </li>                             -->
        <b> Invited Seminars</b>
        <!-- <li>R. Reho, and Z. Zanolli ‘First-principles computational methods for superconductors and light-matter interaction in 2D materials. 
            DFT for superconductors: theory and implementation in theSIESTA code’,Physics Seminars,
            CNR-Nanotec, Lecce, IT, 29/04/2025.</li>              -->
        <li>R. Reho, N. Wittemeier, A.H. Kole, Pablo Ordejón and Z. Zanolli ‘DFT for superconductors: theory and implementation in the SIESTA code’,Physics Seminars,
            Limpertsberg, Luxembourg, LXM, 26/02/2025.</li>
        <li>R. Reho, N. Wittemeier, A.H. Kole, Pablo Ordejón and Z. Zanolli 'DFT for Superconductors: theory and implementation in the SIESTA code',
            Debye Lunch Lecture, Utrecht University, Utrecht NL, 11/12/2024
        </li>         
        <li>R. Reho, N. Wittemeier, A.H. Kole, Pablo Ordejón and Z. Zanolli 'DFT for Superconductors: theory and implementation in the SIESTA code',
            ETSF Webinar, Online, 22/11/2024                                                
        </li>
        <li>R. Reho, A. R. Botello-Méndez , M. J. Verstraete, Z. Zanolli 'Optical properties of
            TMDs van der Waals heterostructures', KNCV-CTC-Seminars, University of Twente, 20/09/2023   
        </li>
        <li><b>Contributed Oral Presentations</b></li>
        <li> Steven T. Bos, Riccardo Reho, Zeila Zanolli 'From Ab initio to Tight-Binding framework: Model exciton interaction in
            materials', TIMES Workshop, Belfast UK, 07/04/2025-10/04/2025</li>
        <li>R.Reho, A. R. Botello-Méndez, D. Sangalli, M. J. Verstraete, Z. Zanolli 'Controlling light-matter interaction in TMD heterostructures', NWO Chains , Veldhoven NL, 3-4/12/2024</li>                                
        <li>R. Reho, A. R. Botello-Méndez, Z. Zanolli 'Proximity induced superconductivity in PbTe/Pb via first principles', QuMaT yearly meeting, Enschende NL, 11-12/11/2024</li>   
        <li>R.Reho, N. Wittemeier, A. H. Kole, P. Ordejón, Z. Zanolli 'DFT for Superconductors: theory and implementation in the SIESTA code', ETSF Electron-phonon collaboration 
            team workshop, Louvain-la-Neuve BE, 23-25/09/2024</li>                                                
        <li>R.Reho, A. R. Botello-Méndez, D. Sangalli, M. J. Verstraete, Z. Zanolli 'Excitonic response in TMD heterostructures from first-principles: impact of stacking, twisting and interlayer distance', 
            CECAM workshop 'Frontiers in many-body excited-state dynamics from first principles',
            Lausanne, CH 15-17/07/2024
        </li>
        <li>R. Reho, A.R. Botello-Méndez, D. Sangalli, M. J. Verstraete, Z. Zanolli 'Excitonic responses in MoS<sub>2</sub>/WS<sub>2</sub>
            and MoSe<sub>2</sub>/WSe<sub>2</sub> heterostructures from first-principles: impact of stacking order and interlayer distance' 
            , 27th ETSF workshop on Electronic Excitations 'Shining light on matter through 
            interdisciplinary theoretical approaches', Marseille FR, 03-07/06/2024
        </li>
        <li>R. Reho, Z. Zanolli 'Optical properties of van der Waals TMD heterostructures from first-principles', 
            DPG Spring Meetings, Berlin, Germany, 22-26/03/2024
        </li>                                                     
        <li>R.Reho, N. Wittemeier, A. H. Kole, P. Ordejón, Z. Zanolli 'Density Functional Theory for
            Superconductors: theory and implementation in the SIESTA code', NWO Physics, Veldhoven, NL, 23-24/01/2024</li>              
        <li>R. Reho, P. M. M. C. de Melo , A. R. Botello-Méndez, A. Botello Méndez , M. J. Verstraete, 
            D. Vanmaekelbergh, and Z.Zanolli ‘Identification of high-energy excitations in 
            two-dimensional topological Bi<sub>2</sub>Se<sub>3</sub> nanoplatelets’, 
            QuMat meeting, Nijmegen, Netherlands, 22-25/10/2023
        </li>                            
        <li>R.Reho, A. Botello Méndez, M. J. Verstraete, Z. Zanolli ‘Absorption and emission in Van der Waals heterostructures 
        from first-principles’, Colloquium HOWDI, Porquerolles, 8-12/05/2023</li>
        <li>R.Reho, A. Kole, N. Wittemeier, Z.Zanolli, ‘First-Principles Topological Superconductivity’, QuMat kick-off meeting, 
            Utrecht, Netherlands, 26/10/2022
        </li>
        <li>R. Reho, P. Melo, M. Verstraete, H. Stoof, Z. Zanolli "Trions and biexcitons from first principles, questions, and 
            future work", Informal ETSF workshop ETSFCoimbra2021, Physics Department, University of Coimbra, Portugal, 13-15/12/2021
        </li>                         
        <li>R. Reho, P. Melo, M. J. Verstraete, Z. Zanolli “Quasi-equilibrium states in heterobilayers of transition metal 
            dichalcogenides”,ETSF Young Researcher Meeting ETSFYRM2021, Cagliari, Italy, 06-10/09/2021
        </li>
        
        <li><b>Posters</b></li>
        <li>
            S. T. Bos, R. Reho, A. R. Botello-Méndez, Z. Zanolli, 'Optical properties of hBN point defects as Qubits',27th ETSF workshop on Electronic Excitations 'Shining light on matter through 
            interdisciplinary theoretical approaches', Marseille FR, 03-07/06/2024
            </li>
        <li>R. Reho, P. M. M. C. de Melo, M. J. Verstraete, Z. Zanolli, 'Ab initio calculations on the band structure of TMDs, 25th 
            Workshop on Electronic Excitations', Leuven, Belgium, 13-17/06/2022</li>    
        <li>S. Barua, B. S. Biswas , A. C. Burgess , J. Dolado , A. Elomrani, W. Heyvaert , Sri K , V. Landgraf , L. MacEnulty , S. 
            Marek , A. R. Mishra , A. A. Nair, R. Reho, A. Subrati, F. Tabatabaei, G. E. Tekneci, S. Van Dyck, A. Vázquez-López, M. Warrier and 
            S. Cottenier, 'Pressure-induced Phase Transitions in Fe4N', 20th International Workshop on Computational Physics and Materials 
            Science: Total Energy and Force Methods ICTP2021, The Abdus Salam International Centre for Theoretical Physics, Trieste, Italy, 
            23-25/02/2021</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
